{{> header}}
<div class="container mt-5">
    {{log  data}}
    <div class="row mb-5">
        <div class="col-md-4 hidden-mobile mb-5">
            <div> {{> sidenav}}</div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="profile-section card mb-5">
                <div class="profile-img">
                    <div class="img-text ">
                    <img src="img/bg-img.jpg" class="img-fluid">
                    </div>
                    <div class="pd-15 ">
                        <h4>{{data.room.name}}</h4>
                        <p>{{data.room.description}}</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span> <b>2234</b> Likes </span>
                                <span class="pl-3"> <b>2234</b> Views </span>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="joinGroup('{{data.room.uuid}}')" id="join-g-btn">Join</button>
                                <button class="btn btn-primary"><i class="fa fa-share"></i>Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mt-2">
                        <div class="line-bd"></div>
                        <div class="scrollable-text" id="post-panel">
                            {{#each data.chats}}
                              <div class="mb-5">
                              <div class="comment-bot pd-15">
                                 <div class="sender-text">
                                    <p>{{this.sendername}}</p>
                                    <p>{{this.message}}</p>
                                 </div>
                            </div>
                           </div> 
                            {{/each}}
                        </div>
                        <div class="line-bd"></div>
                        <div class="d-flex  pd-15 justify-content-start">
                            <div class="pd-pos">
                                <a href="#"><i class="fa fa-image"></i></a>
                            </div>
                            <div class="pd-pos">
                                <a href="#"><i class="fa fa-paperclip"></i></a>
                            </div>
                            <form class="form-inline my-2"></form>
                            <div class=" green-border-focus width-100">
                                <input type="search" placeholder="Type..." aria-label="Search" class="form-control post-input" id="group-chat">
                                <p class="fa fa-diamond border-none" onclick="sendGroupMessage('{{data.room.uuid}}')"></p>
                            </div>
                            </form>
                    
                        </div>
                    
                    </div>
                </div>
                {{!-- <div class="col-md-4">
                   {{> rightsidebar}}
                </div> --}}
            </div>
        </div>
    </div>
</div>